.card{
    background-color: rgb(2, 18, 124);
    color: #ffffff;
    width: 50%;
    text-align:center;
    margin: auto;
    border-radius: 20px;
    
    }

.card h1{
    color: rgb(225, 255, 0);
    text-align: center;
    padding: 20px;
}
.card p{
    text-align: center;
    padding: 20px;
}